/* import reset.css */
@import 'reset.css';

.text {
	color: #333;
	font-size: 1.2rem;
	font-weight: semi-bold;
	letter-spacing: 1.2px;
}

.text-14 {
	font-size: 14px;
}

.text-16 {
	font-size: 16px;
}

.text-20 {
	font-size: 1.2rem;
}

.block-container {
	display: block;
	height: 100%;
	width: 100%;
}

.flex-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.grid-container {
	display: grid;
	height: 100%;
	width: 100%;
}
